.box1
{
	width: 5%;
	height: 5%;
	position: absolute;	
	top: 0%;
	left: 0%;
	background-color: yellow;
}

.box2
{
	width: 5%;
	height: 5%;
	position: absolute;
	top: 0%;
	left: 95%;
	background-color: green;
}

.box3
{
	width: 5%;
	height: 5%;
	position: absolute;
	top: 95%;
	left: 0%;
	background-color: blue;
}

.box4
{
	width: 5%;
	height: 5%;
	position: absolute;
	top: 47.5%;
	left: 47.5%;
	background-color: red;
}

.box5
{
	width: 5%;
	height: 5%;
	position: absolute;
	top: 95%;
	left: 95%;
	background-color: black;
}

