#greenRectangle
{
	position: absolute;
	top: 0;
	left: 0;
	height: 200px;
	width: 200px;
	background-color: green;
}

#redRectangle
{
	position: absolute;
	top: 0;
	left: 0;
	height: 200px;
	width: 200px;
	background-color: red;
	transition: all 4s ease 0s;
}

#redRectangle:hover
{
	transform: translate(250px, 25px) rotate(60deg);
}